final corrected node-red code.txt
[
    {
        "id": "eb6d75d5b834dab5",
        "type": "tab",
        "label": "Flow 10",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d1178c259b45b535",
        "type": "mqtt in",
        "z": "eb6d75d5b834dab5",
        "d": true,
        "name": "MQTT Input",
        "topic": "drowsiness/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3f5a0d1dfac8b6a2",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "1765a9779325b96e"
            ]
        ]
    },
    {
        "id": "1765a9779325b96e",
        "type": "json",
        "z": "eb6d75d5b834dab5",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "77d0d75166a9de91",
                "11784d66a3998a11"
            ]
        ]
    },
    {
        "id": "11784d66a3998a11",
        "type": "debug",
        "z": "eb6d75d5b834dab5",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "77d0d75166a9de91",
        "type": "function",
        "z": "eb6d75d5b834dab5",
        "name": "Store Data",
        "func": "const context = global.get('drowsy_data') || {};\ncontext.driver_status = msg.payload.driver_status || 'unknown';\ncontext.led_status = msg.payload.led_status || 'off';\ncontext.timestamp = new Date().toISOString();\nglobal.set('drowsy_data', context);\nmsg.payload = { success: true, message: \"Data Stored Successfully\" };\nreturn msg;",
        "outputs": 1,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "46968ba879facf04",
                "3a675bd2466c1bb5",
                "b2669ee4d11108b8",
                "e9b25c8b856f85b0"
            ]
        ]
    },
    {
        "id": "46968ba879facf04",
        "type": "ui_text",
        "z": "eb6d75d5b834dab5",
        "group": "b2c3d4e5.6f7a8",
        "width": "",
        "height": "",
        "name": "Driver Status",
        "label": "",
        "format": "",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "3a675bd2466c1bb5",
        "type": "ui_text",
        "z": "eb6d75d5b834dab5",
        "group": "b2c3d4e5.6f7a8",
        "width": "",
        "height": "",
        "name": "LED Status",
        "label": "",
        "format": "",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2669ee4d11108b8",
        "type": "ui_text",
        "z": "eb6d75d5b834dab5",
        "group": "b2c3d4e5.6f7a8",
        "width": "",
        "height": "",
        "name": "Timestamp",
        "label": "",
        "format": "",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "6eeaab85a3cad76a",
        "type": "http in",
        "z": "eb6d75d5b834dab5",
        "name": "HTTP Dashboard Data",
        "url": "/dashboard/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "e9b25c8b856f85b0"
            ]
        ]
    },
    {
        "id": "e9b25c8b856f85b0",
        "type": "function",
        "z": "eb6d75d5b834dab5",
        "name": "Retrieve Data",
        "func": "const context = global.get('drowsy_data', data) || {};\nif (!context.driver_status) {\n    msg.payload = { error: true, message: \"No Object Response\" };\n} else {\n    msg.payload = context;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "b0ebefa5c81ad707",
                "a9e4445d97c6f931"
            ]
        ]
    },
    {
        "id": "b0ebefa5c81ad707",
        "type": "http response",
        "z": "eb6d75d5b834dab5",
        "name": "Send Dashboard Data",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "a9e4445d97c6f931",
        "type": "websocket out",
        "z": "eb6d75d5b834dab5",
        "name": "WebSocket Dashboard",
        "server": "ws_dashboard",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "3f5a0d1dfac8b6a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1:1880",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b2c3d4e5.6f7a8",
        "type": "ui_group",
        "name": "Driver Drowsiness Dashboard",
        "tab": "a1b2c3d4.5e6f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a1b2c3d4.5e6f7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
