http node-red.txt
[
    {
        "id": "d1a6f2e1.6b3b7",
        "type": "mqtt in",
        "z": "b3d5a2c3.4f1f8",
        "name": "MQTT Input",
        "topic": "status",
        "qos": "2",
        "broker": "b6c3c1f4.6a2e8",
        "x": 160,
        "y": 100,
        "wires": [["3b8a6d5f.8e9c2"]]
    },
    {
        "id": "3b8a6d5f.8e9c2",
        "type": "json",
        "z": "b3d5a2c3.4f1f8",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "x": 350,
        "y": 100,
        "wires": [["82d3e94c.6a1f2", "a5d7e2b4.6c3a8", "c7d9e1a3.4f5b6", "e8f1a2b3.4c5d6", "f2e3d4c5.6b7a8"]]
    },
    {
        "id": "82d3e94c.6a1f2",
        "type": "debug",
        "z": "b3d5a2c3.4f1f8",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "a5d7e2b4.6c3a8",
        "type": "ui_text",
        "z": "b3d5a2c3.4f1f8",
        "group": "b2c3d4e5.6f7a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Driver Status",
        "label": "Driver Status",
        "format": "{{msg.payload.status}}",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "c7d9e1a3.4f5b6",
        "type": "ui_text",
        "z": "b3d5a2c3.4f1f8",
        "group": "b2c3d4e5.6f7a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "LED Status",
        "label": "LED Status",
        "format": "{{msg.payload.led}}",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8f1a2b3.4c5d6",
        "type": "ui_text",
        "z": "b3d5a2c3.4f1f8",
        "group": "b2c3d4e5.6f7a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Timestamp",
        "label": "Timestamp",
        "format": "{{msg.payload.timestamp}}",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "f2e3d4c5.6b7a8",
        "type": "http in",
        "z": "b3d5a2c3.4f1f8",
        "name": "HTTP Dashboard Data",
        "url": "/dashboard-data",
        "method": "get",
        "x": 160,
        "y": 360,
        "wires": [["g3h4i5j6.7k8l9"]]
    },
    {
        "id": "g3h4i5j6.7k8l9",
        "type": "http response",
        "z": "b3d5a2c3.4f1f8",
        "name": "Send Dashboard Data",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "h5i6j7k8.9l0m1",
        "type": "websocket out",
        "z": "b3d5a2c3.4f1f8",
        "name": "WebSocket Dashboard",
        "server": "ws://localhost:1880/ws/dashboard",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "b6c3c1f4.6a2e8",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b2c3d4e5.6f7a8",
        "type": "ui_group",
        "name": "Driver Drowsiness Dashboard",
        "tab": "a1b2c3d4.5e6f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a1b2c3d4.5e6f7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
