json http full code...txt
[
    {
        "id": "ce1f60616bd519cb",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b51e35fca5bedf0e",
        "type": "mqtt in",
        "z": "ce1f60616bd519cb",
        "name": "MQTT Input",
        "topic": "status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3f5a0d1dfac8b6a2",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "9f93ad189dcd7137"
            ]
        ]
    },
    {
        "id": "9f93ad189dcd7137",
        "type": "json",
        "z": "ce1f60616bd519cb",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "25b41d6981f326d2",
                "2d43db5b82037f1e",
                "c75ba6d5db713551",
                "f81d6df97782ba05",
                "f2893fbd99fef13f",
                "f88ec8710ec12440",
                "http_request_node"
            ]
        ]
    },
    {
        "id": "25b41d6981f326d2",
        "type": "debug",
        "z": "ce1f60616bd519cb",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d43db5b82037f1e",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Driver Status",
        "label": "Driver Status",
        "format": "{{msg.payload.status}}",
        "layout": "",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "c75ba6d5db713551",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "LED Status",
        "label": "LED Status",
        "format": "{{msg.payload.led}}",
        "layout": "",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "f81d6df97782ba05",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Timestamp",
        "label": "Timestamp",
        "format": "{{msg.payload.timestamp}}",
        "layout": "",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "f2893fbd99fef13f",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Buzzer Status",
        "label": "Buzzer Status",
        "format": "{{msg.payload.buzzer}}",
        "layout": "",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "f88ec8710ec12440",
        "type": "ui_text",
        "z": "ce1f60616bd519cb",
        "group": "b2c3d4e5.6f7a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Vibration Status",
        "label": "Vibration Status",
        "format": "{{msg.payload.vibration}}",
        "layout": "",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "http_request_node",
        "type": "http request",
        "z": "ce1f60616bd519cb",
        "name": "Send to Web Dashboard",
        "method": "POST",
        "ret": "txt",
        "url": "http://your-website.com/api/update_status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "25b41d6981f326d2"
            ]
        ]
    },
    {
        "id": "3f5a0d1dfac8b6a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1:1880",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "b2c3d4e5.6f7a8",
        "type": "ui_group",
        "name": "Alert System",
        "tab": "a1b2c3d4.5e6f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a1b2c3d4.5e6f7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
