node-buzzer,vibration 1.txt
[
    {
        "id": "70fa28a94f45b4d3",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1a6f2e1.6b3b7",
        "type": "mqtt in",
        "z": "70fa28a94f45b4d3",
        "name": "MQTT Input",
        "topic": "status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3f5a0d1dfac8b6a2",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "3b8a6d5f.8e9c2"
            ]
        ]
    },
    {
        "id": "3b8a6d5f.8e9c2",
        "type": "json",
        "z": "70fa28a94f45b4d3",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "82d3e94c.6a1f2",
                "a5d7e2b4.6c3a8",
                "c7d9e1a3.4f5b6",
                "e8f1a2b3.4c5d6",
                "f1g2h3i4.5j6k7", 
                "g1h2i3j4.5k6l7"
            ]
        ]
    },
    {
        "id": "82d3e94c.6a1f2",
        "type": "debug",
        "z": "70fa28a94f45b4d3",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "a5d7e2b4.6c3a8",
        "type": "ui_text",
        "z": "70fa28a94f45b4d3",
        "group": "b2c3d4e5.6f7a8",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Driver Status",
        "label": "Driver Status",
        "format": "{{msg.payload.status}}",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "c7d9e1a3.4f5b6",
        "type": "ui_text",
        "z": "70fa28a94f45b4d3",
        "group": "b2c3d4e5.6f7a8",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "LED Status",
        "label": "LED Status",
        "format": "{{msg.payload.led}}",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "e8f1a2b3.4c5d6",
        "type": "ui_text",
        "z": "70fa28a94f45b4d3",
        "group": "b2c3d4e5.6f7a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Timestamp",
        "label": "Timestamp",
        "format": "{{msg.payload.timestamp}}",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1g2h3i4.5j6k7",
        "type": "ui_text",
        "z": "70fa28a94f45b4d3",
        "group": "b2c3d4e5.6f7a8",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Buzzer Status",
        "label": "Buzzer Status",
        "format": "{{msg.payload.buzzer}}",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "g1h2i3j4.5k6l7",
        "type": "ui_text",
        "z": "70fa28a94f45b4d3",
        "group": "b2c3d4e5.6f7a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Vibration Status",
        "label": "Vibration Status",
        "format": "{{msg.payload.vibration}}",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "3f5a0d1dfac8b6a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1:1880",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "b2c3d4e5.6f7a8",
        "type": "ui_group",
        "name": "Driver Drowsiness Dashboard",
        "tab": "a1b2c3d4.5e6f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a1b2c3d4.5e6f7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
